.label-selector-window {
    position: relative;
    box-sizing: border-box;
    padding: 5px 15px;
    width: 100%;
    height: 100%;
    min-width: 400px;
    /*min-height: 300px;*/
}

.label-selector-header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: 40px;
    font-size: 18px;
    box-sizing: border-box;
    color: #16baaa;
}

.label-selector-header>span {
    margin-left: 5px;
    font-size: 14px;
    color: #000;
}

.layui-tab {
    height: calc(100% - 90px);
}

.layui-tab>.layui-tab-content {
    height: calc(100% - 50px);
    padding: 0;
}

.layui-tab-content>.layui-show {
    height: 100%;
}

.label-selector-form {
    padding: 10px;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.label-selector-form>.layui-input-inline {
    margin-bottom: 10px;
    width: 100px;
}

.button-zone {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    border-top: 1px solid #eeeeee;
}

.button-zone-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 0 20px;
}
